language: java
jdk: openjdk11
before_install:
- chmod +x gradlew
- wget https://services.gradle.org/distributions/gradle-6.0-bin.zip
- unzip -qq gradle-6.0-bin.zip
- export GRADLE_HOME=$PWD/gradle-6.0
- export PATH=$GRADLE_HOME/bin:$PATH
- gradle -v
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"

install: skip
addons:
  sonarcloud:
    organization: leolplex
jobs:
  include:
  - stage: dev
    name: build & unit test & sonar qube
    script:
    - ./gradlew build
    - ./gradlew test
    - ./gradlew sonarqube
deploy:
  provider: heroku
  api_key:
    secure: pcImK+O6B/qfz0fQzQJRHir/o/xeK7yv2eKOCEzKl2ueJ7M1xK8k8xoUSTZwVDm3aOInREE2YiUdPvr6I3+QstoImpz6M23VMpMBNgaTnY+sqTTqTac0s6ePuhVltRlomblutfQxI2lfgh4OiYlVy4FeA2wVtMixsRqcdAR0ZsI4lt2dglW/dGLFFoH8tE1u3fi4zF/L1JoiuE8pvSTXXg64Ngt+15g5DRkRNZCvCeq0Hg+KN3d1RLyBmt1DYKTamwkPW7vstu+b0hB9hqt46pkM9eFopBOu3h9mT1HmHGKgHEQRWuhVtZBIN0iy2L1LHqiMtMovqiutVyB3bhZxJGGFqBj03GUsU9Ii5ebAe16S7BpkXQpdNZr2jhHrhWbs4Gfqan8NkByrxhL3KF0fXuqDL0SSGpKRMviJJoBhGbQfEHQZRdfM451xllxErgEj+EM6hzZ4acFV1oUGbg53NZ8nTKvTBlaLJ4H55mHtvoVEI6qS2eT9fOJVXt1tAjNgDbXiOU48elWFE6/rVX89nClb2SRxJz9NArjswOL6MnUOJIf2mLODWCjYzNwDk6cHhNVDwREKPZ2Mm1bUPND8XHBKEzRkqBpgt9NmgXhTyvDrFzidjeo0BaI6zyWlUhrNpRq/ySoxzMIdZwPBl/9/TQfXr34+JsaZs3DN032+eVs=
  app: evidence-based-management
